doctype html
html
  head
    meta(property='fb:app_id', content='#{facebookAppId}')
    meta(property='og:url', content='#{url}')
    meta(property='og:type', content='#{type}')
    meta(property='og:title', content='#{title}')
    meta(property='og:image', content='#{image}')
    meta(property='og:description', content='#{description}')
